<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">ro.emag.util.SQLiteDialect</property>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:emag.db</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>

        <mapping class="ro.emag.model.User"/>
        <mapping class="ro.emag.model.Product"/>
        <mapping class="ro.emag.model.Buyer"/>
        <mapping class="ro.emag.model.Seller"/>
        <mapping class="ro.emag.model.Order"/>
        <mapping class="ro.emag.model.OrderItem"/>
        <mapping class="ro.emag.model.Cart"/>
        <mapping class="ro.emag.model.Category"/>
    </session-factory>
</hibernate-configuration>